.body {
  background-color: #05668d;
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

.active {
  text-align: center;
}
.header-font {
  padding-bottom: 20px;
  font-family: 'Kanit', sans-serif;
}

.input-field {
}
.input-font {
  font-family: "Roboto", sans-serif;
}

/* .body {
   
       display: flex;
       min-height: 100vh;
       flex-direction: column;
   } */

.main {
  flex: 1 0 auto;
}

.center-align {
  margin: auto;
}

.card {
  flex: 1 100%;

  display: flex;
  align-items: center;
  justify-content: space-around;
  min-width: 50%;
  padding: 10px;
}
#city-weather-display {
  display: block;
  margin-left: auto;
  margin-right: auto;
  min-width: 50%;
  padding: 10px;
}

#daily-weather-display {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
